<section class="content">
  <div class="content-block">
    <div class="block-header">
      <!-- breadcrumb -->
      <app-breadcrumb [title]="'Today'" [items]="['Appointments']" [active_item]="'Today'">
      </app-breadcrumb>
    </div>
    <div class="row clearfix">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="card">
          <div class="header">
            <h2>Rendez-vous d'aujourd'hui</h2>

          </div>
          <div class="body">
            <ul class="list-unstyled user-progress list-unstyled-border list-unstyled-noborder">
              <li class="app-list">
                <img alt="image" class="msr-3 rounded-circle" width="40" src="assets/images/user/usrbig1.jpg">
                <div class="set-flex">
                  <div class="media-title font-16">Dr. Cara Stevens</div>
                  <div class="text-job text-muted mb-0">Radiologiste</div>
                </div>
                <div class="set-flex">
                  <div class="media-title font-16">12 juin '20</div>
                  <div class="text-job text-muted mb-0">09:00-10:00</div>
                </div>
                <div class="set-flex">
                  <div class="media-title text-muted mb-0">Traitement</div>
                  <div class="text-job font-16">Scanners CT</div>
                </div>
                <div class="set-flex">
                  <div class="media-title text-muted mb-0">Numéro de contact</div>
                  <div class="text-job font-16">+126 676545655</div>
                </div>
                <div class="set-flex">
                  <div class="media-title text-muted mb-0">Statut</div>
                  <div class="col-green">Confirmer</div>
                </div>
                <div class="set-flex">
                  <div class="media-title text-muted mb-0">Emplacement</div>
                  <div class="text-job font-16">Clinique Grand Plains</div>
                </div>
                <div class="media-cta">
                  <td>
                    <button mat-icon-button class="col-green">
                      <mat-icon>check_circle_outline</mat-icon>
                    </button>
                    <button mat-icon-button class="col-red">
                      <mat-icon>highlight_off</mat-icon>
                    </button>
                  </td>
                </div>
              </li>              
              <li class="app-list">
                <img alt="image" class="msr-3 rounded-circle" width="40" src="assets/images/user/usrbig2.jpg">
                <div class="set-flex">
                  <div class="media-title font-16">Dr. John Doe</div>
                  <div class="text-job text-muted mb-0">Cardiologue</div>
                </div>
                <div class="set-flex">
                  <div class="media-title font-16">12 juin '20</div>
                  <div class="text-job text-muted mb-0">11:00-11:30</div>
                </div>
                <div class="set-flex">
                  <div class="media-title text-muted mb-0">Traitement</div>
                  <div class="text-job font-16">Vérification cardiaque</div>
                </div>
                <div class="set-flex">
                  <div class="media-title text-muted mb-0">Numéro de contact</div>
                  <div class="text-job font-16">+126 434656764</div>
                </div>
                <div class="set-flex">
                  <div class="media-title text-muted mb-0">Statut</div>
                  <div class="col-red">Annulé</div>
                </div>
                <div class="set-flex">
                  <div class="media-title text-muted mb-0">Emplacement</div>
                  <div class="text-job font-16">Hôpital Genesis</div>
                </div>
                <div class="media-cta">
                  <td>
                    <button mat-icon-button class="col-green">
                      <mat-icon>check_circle_outline</mat-icon>
                    </button>
                    <button mat-icon-button class="col-red">
                      <mat-icon>highlight_off</mat-icon>
                    </button>
                  </td>
                </div>
              </li>              
              <li class="app-list">
                <img alt="image" class="msr-3 rounded-circle" width="40" src="assets/images/user/usrbig3.jpg">
                <div class="set-flex">
                    <div class="media-title font-16">Dr. Airi Satou</div>
                    <div class="text-job text-muted mb-0">Otolaryngologiste</div>
                </div>
                <div class="set-flex">
                    <div class="media-title font-16">12 juin '20</div>
                    <div class="text-job text-muted mb-0">09:15-10:15</div>
                </div>
                <div class="set-flex">
                    <div class="media-title text-muted mb-0">Traitement</div>
                    <div class="text-job font-16">Maladies de l'oreille</div>
                </div>
                <div class="set-flex">
                    <div class="media-title text-muted mb-0">Numéro de contact</div>
                    <div class="text-job font-16">+126 45345673</div>
                </div>
                <div class="set-flex">
                    <div class="media-title text-muted mb-0">Statut</div>
                    <div class="col-green">Confirmer</div>
                </div>
                <div class="set-flex">
                    <div class="media-title text-muted mb-0">Emplacement</div>
                    <div class="text-job font-16">Laboratoire Genesis</div>
                </div>
                <div class="media-cta">
                    <td>
                        <button mat-icon-button class="col-green">
                            <mat-icon>check_circle_outline</mat-icon>
                        </button>
                        <button mat-icon-button class="col-red">
                            <mat-icon>highlight_off</mat-icon>
                        </button>
                    </td>
                </div>
              </li>            
              <li class="app-list">
                <img alt="image" class="msr-3 rounded-circle" width="40" src="assets/images/user/usrbig4.jpg">
                <div class="set-flex">
                    <div class="media-title font-16">Dr. Angelica Ramos</div>
                    <div class="text-job text-muted mb-0">Dentiste</div>
                </div>
                <div class="set-flex">
                    <div class="media-title font-16">12 juin '20</div>
                    <div class="text-job text-muted mb-0">11:00-12:00</div>
                </div>
                <div class="set-flex">
                    <div class="media-title text-muted mb-0">Traitement</div>
                    <div class="text-job font-16">Canal Radiculaire</div>
                </div>
                <div class="set-flex">
                    <div class="media-title text-muted mb-0">Numéro de contact</div>
                    <div class="text-job font-16">+126 87654533</div>
                </div>
                <div class="set-flex">
                    <div class="media-title text-muted mb-0">Statut</div>
                    <div class="col-green">Confirmer</div>
                </div>
                <div class="set-flex">
                    <div class="media-title text-muted mb-0">Emplacement</div>
                    <div class="text-job font-16">Hôpital de Clemency</div>
                </div>
                <div class="media-cta">
                    <td>
                        <button mat-icon-button class="col-green">
                            <mat-icon>check_circle_outline</mat-icon>
                        </button>
                        <button mat-icon-button class="col-red">
                            <mat-icon>highlight_off</mat-icon>
                        </button>
                    </td>
                </div>
              </li>          
              <li class="app-list">
                <img alt="image" class="msr-3 rounded-circle" width="40" src="assets/images/user/usrbig6.jpg">
                <div class="set-flex">
                    <div class="media-title font-16">Dr. Jens Brincker</div>
                    <div class="text-job text-muted mb-0">Endocrinologue</div>
                </div>
                <div class="set-flex">
                    <div class="media-title font-16">12 juin '20</div>
                    <div class="text-job text-muted mb-0">04:00-05:00</div>
                </div>
                <div class="set-flex">
                    <div class="media-title text-muted mb-0">Traitement</div>
                    <div class="text-job font-16">Diabète</div>
                </div>
                <div class="set-flex">
                    <div class="media-title text-muted mb-0">Numéro de contact</div>
                    <div class="text-job font-16">+126 45678345</div>
                </div>
                <div class="set-flex">
                    <div class="media-title text-muted mb-0">Statut</div>
                    <div class="col-red">Annulé</div>
                </div>
                <div class="set-flex">
                    <div class="media-title text-muted mb-0">Emplacement</div>
                    <div class="text-job font-16">Clinique de Hopevale</div>
                </div>
                <div class="media-cta">
                    <td>
                        <button mat-icon-button class="col-green">
                            <mat-icon>check_circle_outline</mat-icon>
                        </button>
                        <button mat-icon-button class="col-red">
                            <mat-icon>highlight_off</mat-icon>
                        </button>
                    </td>
                </div>
              </li>        
              <li class="app-list">
                <img alt="image" class="msr-3 rounded-circle" width="40" src="assets/images/user/usrbig7.jpg">
                <div class="set-flex">
                    <div class="media-title font-16">Dr. Jamie Blair</div>
                    <div class="text-job text-muted mb-0">Radiologue</div>
                </div>
                <div class="set-flex">
                    <div class="media-title font-16">12 juin '20</div>
                    <div class="text-job text-muted mb-0">05:00-05:30</div>
                </div>
                <div class="set-flex">
                    <div class="media-title text-muted mb-0">Traitement</div>
                    <div class="text-job font-16">Diabète</div>
                </div>
                <div class="set-flex">
                    <div class="media-title text-muted mb-0">Numéro de contact</div>
                    <div class="text-job font-16">+126 45678345</div>
                </div>
                <div class="set-flex">
                    <div class="media-title text-muted mb-0">Statut</div>
                    <div class="col-green">Confirmer</div>
                </div>
                <div class="set-flex">
                    <div class="media-title text-muted mb-0">Emplacement</div>
                    <div class="text-job font-16">Centre Médical de Pinevale</div>
                </div>
                <div class="media-cta">
                    <td>
                        <button mat-icon-button class="col-green">
                            <mat-icon>check_circle_outline</mat-icon>
                        </button>
                        <button mat-icon-button class="col-red">
                            <mat-icon>highlight_off</mat-icon>
                        </button>
                    </td>
                </div>
              </li>      
              <li class="app-list">
                <img alt="image" class="msr-3 rounded-circle" width="40" src="assets/images/user/usrbig8.jpg">
                <div class="set-flex">
                    <div class="media-title font-16">Dr. Nikki Barton</div>
                    <div class="text-job text-muted mb-0">Endocrinologue</div>
                </div>
                <div class="set-flex">
                    <div class="media-title font-16">12 juin '20</div>
                    <div class="text-job text-muted mb-0">06:00-07:00</div>
                </div>
                <div class="set-flex">
                    <div class="media-title text-muted mb-0">Traitement</div>
                    <div class="text-job font-16">Radiographie</div>
                </div>
                <div class="set-flex">
                    <div class="media-title text-muted mb-0">Numéro de contact</div>
                    <div class="text-job font-16">+126 45678345</div>
                </div>
                <div class="set-flex">
                    <div class="media-title text-muted mb-0">Statut</div>
                    <div class="col-orange">En attente</div>
                </div>
                <div class="set-flex">
                    <div class="media-title text-muted mb-0">Emplacement</div>
                    <div class="text-job font-16">Hopevale Clinic</div>
                </div>
                <div class="media-cta">
                    <td>
                        <button mat-icon-button class="col-green">
                            <mat-icon>check_circle_outline</mat-icon>
                        </button>
                        <button mat-icon-button class="col-red">
                            <mat-icon>highlight_off</mat-icon>
                        </button>
                    </td>
                </div>
              </li>    
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
