<section class="content">
  <div class="content-block">
    <div class="block-header">
      <!-- breadcrumb -->
      <app-breadcrumb [title]="'Widget du Graphique'" [items]="['Widget']" [active_item]="'Widget du Graphique'"></app-breadcrumb>
    </div>
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
        <div class="card">
          <div class="header">
            <h2>Exemple de Graphique</h2>
          </div>
          <div class="body">
            <div id="chart">
              <apx-chart [series]="circleChartOptions.series!" [chart]="circleChartOptions.chart!"
                [plotOptions]="circleChartOptions.plotOptions!" [labels]="circleChartOptions.labels!"
                [legend]="circleChartOptions.legend!" [colors]="circleChartOptions.colors!"
                [responsive]="circleChartOptions.responsive!"></apx-chart>
            </div>
            <div class="row">
              <div class="col-4">
                <p class="text-muted font-15 text-truncate">Objectif</p>
                <h5>
                  <i class="fas fa-arrow-circle-up col-green m-r-5"></i>15.3k TND
                </h5>
              </div>
              <div class="col-4">
                <p class="text-muted font-15 text-truncate">Semaine
                  dernière</p>
                <h5>
                  <i class="fas fa-arrow-circle-down col-red m-r-5"></i>2.8k TND
                </h5>
              </div>
              <div class="col-4">
                <p class="text-muted text-truncate">Mois
                  dernier</p>
                <h5>
                  <i class="fas fa-arrow-circle-up col-green m-r-5"></i>12.5k TND
                </h5>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
        <div class="card">
          <div class="header">
            <h2>Exemple de Graphique</h2>
          </div>
          <div class="body">
            <div id="chart">
              <apx-chart [series]="radarChartOptions.series!" [chart]="radarChartOptions.chart!"
                [xaxis]="radarChartOptions.xaxis!" [stroke]="radarChartOptions.stroke!"
                [markers]="radarChartOptions.markers!" [fill]="radarChartOptions.fill!"></apx-chart>
            </div>
            <div class="row">
              <div class="col-4">
                <p class="text-muted font-15 text-truncate">Objectif</p>
                <h5>
                  <i class="fas fa-arrow-circle-down col-red m-r-5"></i>15.3k TND
                </h5>
              </div>
              <div class="col-4">
                <p class="text-muted font-15 text-truncate">Semaine
                  dernière</p>
                <h5>
                  <i class="fas fa-arrow-circle-up col-green m-r-5"></i>2.8k TND
                </h5>
              </div>
              <div class="col-4">
                <p class="text-muted text-truncate">Mois
                  dernier</p>
                <h5>
                  <i class="fas fa-arrow-circle-down col-red m-r-5"></i>12.5k TND
                </h5>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
        <div class="card">
          <div class="header">
            <h2>Exemple de Graphique</h2>
          </div>
          <div class="body">
            <div id="chart">
              <apx-chart [series]="areaChartOptions.series!" [chart]="areaChartOptions.chart!"
                [xaxis]="areaChartOptions.xaxis!" [stroke]="areaChartOptions.stroke!" [grid]="areaChartOptions.grid!"
                [tooltip]="areaChartOptions.tooltip!" [dataLabels]="areaChartOptions.dataLabels!">
              </apx-chart>
            </div>
            <div class="row">
              <div class="col-4">
                <p class="text-muted font-15 text-truncate">Objectif</p>
                <h5>
                  <i class="fas fa-arrow-circle-down col-red m-r-5"></i>15.3k TND
                </h5>
              </div>
              <div class="col-4">
                <p class="text-muted font-15 text-truncate">Semaine
                  dernière</p>
                <h5>
                  <i class="fas fa-arrow-circle-up col-green m-r-5"></i>2.8k TND
                </h5>
              </div>
              <div class="col-4">
                <p class="text-muted text-truncate">Mois
                  dernier</p>
                <h5>
                  <i class="fas fa-arrow-circle-down col-red m-r-5"></i>12.5k TND
                </h5>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row ">
      <div class="col-xl-3 col-lg-6 col-md-6 col-sm-6 col-xs-12">
        <div class="card">
          <div class="card-statistic-4">
            <div class="align-items-center justify-content-between">
              <div class="row ">
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 card-spacing">
                  <div class="card-content">
                    <h5 class="font-15">Nouveaux Étudiants</h5>
                    <h2 class="mb-3 font-18">1,025</h2>
                    <p class="mb-0"><span class="col-green">10%</span> Augmentation</p>
                  </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                  <div class="banner-img">
                    <img src="assets/images/banner/1.png" alt="">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xl-3 col-lg-6 col-md-6 col-sm-6 col-xs-12">
        <div class="card">
          <div class="card-statistic-4">
            <div class="align-items-center justify-content-between">
              <div class="row ">
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 card-spacing">
                  <div class="card-content">
                    <h5 class="font-15">Nombre Total de Cours</h5>
                    <h2 class="mb-3 font-18">47</h2>
                    <p class="mb-0"><span class="col-orange">09%</span> Diminution</p>
                  </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                  <div class="banner-img">
                    <img src="assets/images/banner/2.png" alt="">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xl-3 col-lg-6 col-md-6 col-sm-6 col-xs-12">
        <div class="card">
          <div class="card-statistic-4">
            <div class="align-items-center justify-content-between">
              <div class="row ">
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 card-spacing">
                  <div class="card-content">
                    <h5 class="font-15">Récompenses</h5>
                    <h2 class="mb-3 font-18">128</h2>
                    <p class="mb-0"><span class="col-green">18%</span>
                      Augmentation</p>
                  </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                  <div class="banner-img">
                    <img src="assets/images/banner/3.png" alt="">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xl-3 col-lg-6 col-md-6 col-sm-6 col-xs-12">
        <div class="card">
          <div class="card-statistic-4">
            <div class="align-items-center justify-content-between">
              <div class="row ">
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 card-spacing">
                  <div class="card-content">
                    <h5 class="font-15">Revenu</h5>
                    <h2 class="mb-3 font-18">48,697 TND</h2>
                    <p class="mb-0"><span class="col-green">42%</span> Augmentation</p>
                  </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                  <div class="banner-img">
                    <img src="assets/images/banner/4.png" alt="">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xl-8 col-lg-8 col-md-12 col-sm-12">
        <div class="card">
          <div class="card-body">
            <div class="float-start">
              <h6 class="text-muted">Nombre Moyen de Conférences Par Mois</h6>
              <h5>65 <span class="text-muted font-12">(Moyenne)</span></h5>
            </div>
            <div class="mb-5">
              <apx-chart [series]="avgLecChartOptions.series!" [chart]="avgLecChartOptions.chart!"
                [xaxis]="avgLecChartOptions.xaxis!" [stroke]="avgLecChartOptions.stroke!"
                [colors]="avgLecChartOptions.colors!" [dataLabels]="avgLecChartOptions.dataLabels!"
                [legend]="avgLecChartOptions.legend!" [markers]="avgLecChartOptions.markers!"
                [grid]="avgLecChartOptions.grid!" [yaxis]="avgLecChartOptions.yaxis!"
                [tooltip]="avgLecChartOptions.tooltip!" [title]="avgLecChartOptions.title!"
                [fill]="avgLecChartOptions.fill!">
              </apx-chart>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12">
        <div class="card">
          <div class="header">
            <h2>Graphique de Sujet</h2>
          </div>
          <div class="body">
            <div id="chart">
              <apx-chart [series]="pieChartOptions.series!" [chart]="pieChartOptions.chart!"
                [labels]="pieChartOptions.labels!" [responsive]="pieChartOptions.responsive!"
                [dataLabels]="pieChartOptions.dataLabels!" [legend]="pieChartOptions.legend!" class="apex-pie-center">
              </apx-chart>
            </div>
            <div class="table-responsive m-t-15">
              <table class="table align-items-center">
                <tbody>
                  <tr>
                    <td><i class="fa fa-circle col-cyan msr-2"></i> Musique</td>
                    <td>23</td>
                    <td class="col-green">+32%</td>
                  </tr>
                  <tr>
                    <td><i class="fa fa-circle col-blue msr-2"></i> Science</td>
                    <td>32</td>
                    <td class="col-green">+12%</td>
                  </tr>
                  <tr>
                    <td><i class="fa fa-circle col-orange msr-2"></i> Économie</td>
                    <td>12</td>
                    <td class="col-orange">-12%</td>
                  </tr>
                  <tr>
                    <td><i class="fa fa-circle col-green msr-2"></i> Mathématiques</td>
                    <td>32</td>
                    <td class="col-green">+3%</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-3 col-sm-6">
        <div class="info-box7 bg-c-blue order-info-box7">
          <div class="info-box7-block">
            <h6 class="m-b-20">Commandes Reçues</h6>
            <h2 class="text-end"><i class="fas fa-cart-plus float-start"></i><span>358</span></h2>
            <p class="m-b-0">18% Plus Haut Que Le Mois Dernier</p>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-sm-6">
        <div class="info-box7 bg-c-green order-info-box7">
          <div class="info-box7-block">
            <h6 class="m-b-20">Commandes Terminées</h6>
            <h2 class="text-end"><i class="fas fa-business-time float-start"></i><span>865</span></h2>
            <p class="m-b-0">21% Plus Haut Que Le Mois Dernier</p>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-sm-6">
        <div class="info-box7 bg-c-yellow order-info-box7">
          <div class="info-box7-block">
            <h6 class="m-b-20">Nouvelles Commandes</h6>
            <h2 class="text-end"><i class="fas fa-chart-line float-start"></i><span>128</span></h2>
            <p class="m-b-0">37% Plus Haut Que Le Mois Dernier</p>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-sm-6">
        <div class="info-box7 bg-c-pink order-info-box7">
          <div class="info-box7-block">
            <h6 class="m-b-20">Revenu Total</h6>
            <h2 class="text-end"><i class="fas fa-dollar-sign float-start"></i><span>25698 TND</span></h2>
            <p class="m-b-0">10% Plus Haut Que Le Mois Dernier</p>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12 col-sm-6 col-md-3">
        <div class="card">
          <div class="card-body">
            <div class="d-flex justify-content-between">
              <div>
                <h5>Revenu d'Aujourd'hui</h5>
                <p class="text-muted">Revenu Pour Aujourd'hui</p>
              </div>
              <h3 class="text-info">170 TND</h3>
            </div>
            <div class="card-content mt-2">
              <div class="progress skill-progress m-b-5 w-100">
                <div class="progress-bar l-bg-purple width-per-45" role="progressbar" aria-valuenow="45"
                  aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div>
            <div class="d-flex justify-content-between mt-2">
              <p class="text-muted mb-0">Changement</p>
              <p class="text-muted mb-0">75%</p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12 col-sm-6 col-md-3">
        <div class="card">
          <div class="card-body">
            <div class="d-flex justify-content-between">
              <div>
                <h5>Revenu Total</h5>
                <p class="text-muted">Revenu Total</p>
              </div>
              <h3 class="text-success">120 TND</h3>
            </div>
            <div class="card-content mt-2">
              <div class="progress skill-progress m-b-5 w-100">
                <div class="progress-bar l-bg-orange width-per-45" role="progressbar" aria-valuenow="45"
                  aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div>
            <div class="d-flex justify-content-between mt-2">
              <p class="text-muted mb-0">Changement</p>
              <p class="text-muted mb-0">25%</p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12 col-sm-6 col-md-3">
        <div class="card">
          <div class="card-body">
            <div class="d-flex justify-content-between">
              <div>
                <h5>Nouvelles Commandes</h5>
                <p class="text-muted">Nouvelle Commande Fraîche</p>
              </div>
              <h3 class="text-danger">15</h3>
            </div>
            <div class="card-content mt-2">
              <div class="progress skill-progress m-b-5 w-100">
                <div class="progress-bar l-bg-cyan width-per-45" role="progressbar" aria-valuenow="45" aria-valuemin="0"
                  aria-valuemax="100"></div>
              </div>
            </div>
            <div class="d-flex justify-content-between">
              <p class="text-muted mb-0">Changement</p>
              <p class="text-muted mb-0">50%</p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12 col-sm-6 col-md-3">
        <div class="card">
          <div class="card-body">
            <div class="d-flex justify-content-between">
              <div>
                <h5>Nouveaux Utilisateurs</h5>
                <p class="text-muted">Nouveaux Utilisateurs Rejoins</p>
              </div>
              <h3 class="text-secondary">12</h3>
            </div>
            <div class="card-content mt-2">
              <div class="progress skill-progress m-b-5 w-100">
                <div class="progress-bar l-bg-red width-per-45" role="progressbar" aria-valuenow="45" aria-valuemin="0"
                  aria-valuemax="100"></div>
              </div>
            </div>
            <div class="d-flex justify-content-between mt-2">
              <p class="text-muted mb-0">Changement</p>
              <p class="text-muted mb-0">25%</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


