<section class="content">
  <div class="content-block">
    <div class="block-header">
      <!-- breadcrumb -->
      <app-breadcrumb [title]="'Dossiers Médicaux'" [items]="[]" [active_item]="'Dossiers Médicaux'"></app-breadcrumb>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <div class="card">
        <div class="header">
          <h2>
            <strong>Dossiers</strong>
          </h2>
        </div>
        <div class="body">
          <div class="container">
            <div class="row">
              <div class="col-md-10">
                <ul class="left-timeline">
                  <li>
                    <time class="left-time" datetime="2017-11-04T18:30"><span class="hidden">25/12/2017</span>
                      <span class="large">Maintenant</span></time>
                    <div class="left-icon"><img src="assets/images/user/user1.jpg" alt="">
                    </div>
                    <div class="left-label empty"> <span>Aucune Activité</span> </div>
                  </li>
                  <li>
                    <time class="left-time" datetime="2017-11-04T03:45"><span>03:45 AM</span>
                      <span>Aujourd'hui</span></time>
                    <div class="left-icon"><img src="assets/images/user/user4.jpg" alt="">
                    </div>
                    <div class="left-label">
                      <h4>Radiographie</h4>
                      <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean
                        commodo ligula eget dolor. Aenean massa. Cum sociis natoque
                        penatibus et magnis dis parturient montes, nascetur ridiculus mus.
                        Donec quam felis, ultricies nec, pellentesque eu, pretium quis,
                        sem. Nulla consequat massa quis enim.</p>
                    </div>
                  </li>
                  <li>
                    <time class="left-time" datetime="2017-11-04T18:30"><span class="hidden">25/08/2020</span>
                      <span class="large">01:30 PM</span></time>
                    <div class="left-icon"> <img src="assets/images/user/user2.jpg" alt="">
                    </div>
                    <div class="left-label">
                      <h4>Consultation</h4>
                      <h2>Consultation avec <a href="#" onClick="return false;">Dr. John Deo</a>
                      </h2>
                    </div>
                  </li>
                  <li>
                    <time class="left-time" datetime="2017-11-04T18:30"><span class="hidden">04/09/2020</span>
                      <span class="large">02:00 PM</span></time>
                    <div class="left-icon"><img src="assets/images/user/user5.jpg" alt="">
                    </div>
                    <div class="left-label">
                      <h4>Ordonnance</h4>
                      <p>Ordonnance rédigée par <a href="#" onClick="return false;">Dr. Sarah Ayadi</a> et conseils nécessaires
                        au patient.</p>
                      <div class="row">
                        <div class="col-lg-3 col-md-6 col-6"><a href="#" onClick="return false;"><i
                              class="far fa-file-pdf font-50 col-red"></i></a>
                        </div>
                        <div class="col-lg-3 col-md-6 col-6"><a href="#" onClick="return false;"><i
                              class="far fa-file-image font-50 col-purple"></i></a>
                        </div>
                      </div>
                      <p>
                        <span>
                          <i class="fa fa-paperclip"></i> 2 pièces jointes — </span>
                        <a href="#" onClick="return false;">Télécharger toutes les pièces jointes</a> |
                        <a href="#" onClick="return false;">Voir toutes les images</a>
                      </p>
                    </div>
                  </li>
                  <li>
                    <time class="left-time" datetime="2017-11-04T18:30"><span class="hidden">03/09/2020</span>
                      <span class="large">10:30 PM</span> <span>Il y a une semaine</span></time>
                    <div class="left-icon"><img src="assets/images/user/user5.jpg" alt="">
                    </div>
                    <div class="left-label">
                      <h4>Opération</h4>
                      <blockquote>Les principes du pianoforte ne sont pas affectés par le fait de ne pas être étonnés
                        les voyages sont particuliers.</blockquote>
                      <p>Équipe médicale</p>
                      <div class="row">
                        <div class="col-lg-3 col-md-6 col-6"><a href="#" onClick="return false;"><img
                              src="assets/images/user/usrbig1.jpg" alt="" class="img-fluid img-thumbnail m-t-30"></a>
                        </div>
                        <div class="col-lg-3 col-md-6 col-6"><a href="#" onClick="return false;">
                            <img src="assets/images/user/usrbig5.jpg" alt="" class="img-fluid img-thumbnail m-t-30"></a>
                        </div>
                        <div class="col-lg-3 col-md-6 col-6"><a href="#" onClick="return false;">
                            <img src="assets/images/user/usrbig6.jpg" alt="" class="img-fluid img-thumbnail m-t-30">
                          </a> </div>
                        <div class="col-lg-3 col-md-6 col-6"><a href="#" onClick="return false;">
                            <img src="assets/images/user/usrbig7.jpg" alt="" class="img-fluid img-thumbnail m-t-30">
                          </a> </div>
                      </div>
                    </div>
                  </li>
                  <li>
                    <time class="left-time" datetime="2017-11-04T18:30"><span class="hidden">29/08/2020</span>
                      <span class="large">01:30 PM</span> <span>Il y a deux semaines</span></time>
                    <div class="left-icon"> <img src="assets/images/user/user6.jpg" alt="">
                    </div>
                    <div class="left-label">
                      <h4>Consultation</h4>
                      <h2>Consultation avec <a href="#" onClick="return false;">Dr. Sarah Ayadi</a>
                      </h2>
                      <blockquote>
                        <p class="blockquote blockquote-primary">
                          "Discuter avec moi de l'élevage a répondu à un il. L'événement de gâchis était ses mots hors cause. Les larmes de femme
                          qui n'est pas un monde de miles boisés. Souhaitait être faire mutuellement sauf en réponse d'effet."
                          <br>
                          <small>
                            - Dr. Sarah Ayadi
                          </small>
                        </p>
                      </blockquote>
                    </div>
                  </li>
                  <li>
                    <time class="left-time" datetime="2017-11-04T18:30"><span class="hidden">25/08/2020</span>
                      <span class="large">02:00 PM</span></time>
                    <div class="left-icon"><img src="assets/images/user/user5.jpg" alt="">
                    </div>
                    <div class="left-label">
                      <h4>Ordonnance</h4>
                      <p>Ordonnance rédigée par <a href="#" onClick="return false;">Dr. Sarah Ayadi</a> et conseils nécessaires
                        au patient.</p>
                      <div class="row">
                        <div class="col-lg-3 col-md-6 col-6"><a href="#" onClick="return false;"><i
                              class="far fa-file-pdf font-50 col-red"></i></a>
                        </div>
                        <div class="col-lg-3 col-md-6 col-6"><a href="#" onClick="return false;"><i
                              class="far fa-file-image font-50 col-purple"></i></a>
                        </div>
                        <div class="col-lg-3 col-md-6 col-6"><a href="#" onClick="return false;"><i
                              class="far fa-file-archive font-50"></i></a>
                        </div>
                      </div>
                      <p>
                        <span>
                          <i class="fa fa-paperclip"></i> 3 pièces jointes — </span>
                        <a href="#" onClick="return false;">Télécharger toutes les pièces jointes</a> |
                        <a href="#" onClick="return false;">Voir toutes les images</a>
                      </p>
                    </div>
                  </li>
                  <li>
                    <time class="left-time" datetime="2017-11-04T18:30"><span class="hidden">25/08/2020</span>
                      <span class="large">01:30 PM</span></time>
                    <div class="left-icon"> <img src="assets/images/user/user6.jpg" alt="">
                    </div>
                    <div class="left-label">
                      <h4>Consultation</h4>
                      <h2>Consultation avec <a href="#" onClick="return false;">Dr. Sarah Ayadi</a>
                      </h2>
                    </div>
                  </li>
                  <li>
                    <time class="left-time" datetime="2017-11-04T18:30"><span class="hidden">25/08/2020</span>
                      <span class="large">12:13 PM</span></time>
                    <div class="left-icon"><img src="assets/images/user/user7.jpg" alt="">
                    </div>
                    <div class="left-label">
                      <h4>Médication</h4>
                      <h2>Générer un nouvel identifiant de patient <a href="#" onClick="return false;">#ID56734</a>
                      </h2>
                      <p>Remplir le formulaire et suivre les procédures de base.</p>
                    </div>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

