<section class="content">
  <div class="content-block">
    <div class="block-header">
      <!-- breadcrumb -->
      <app-breadcrumb [title]="'Ajouter Patient'" [items]="['Patients']" [active_item]="'Ajouter Patient'"></app-breadcrumb>
    </div>
    <div class="row clearfix">
      <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
        <div class="card">
          <div class="header">
            <h2><strong> Informations sur le Patient</strong></h2>
          </div>
          <div class="body">
            <form class="m-4" [formGroup]="patientForm" (ngSubmit)="onSubmit()">
              <div class="row">
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-3">
                  <mat-form-field class="example-full-width mb-3" appearance="outline">
                    <mat-label>Prénom</mat-label>
                    <input matInput formControlName="first" required>
                    <mat-error *ngIf="patientForm.get('first')?.hasError('required')">
                      Prénom est requis
                    </mat-error>
                  </mat-form-field>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-3">
                  <mat-form-field class="example-full-width mb-3" appearance="outline">
                    <mat-label>Nom</mat-label>
                    <input matInput formControlName="last">
                  </mat-form-field>
                </div>
              </div>
              <div class="row">
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-3">
                  <mat-form-field class="example-full-width mb-3" appearance="outline">
                    <mat-label>Sexe</mat-label>
                    <mat-select formControlName="gender" required>
                      <mat-option [value]="'Male'">
                        Homme
                      </mat-option>
                      <mat-option [value]="'Female'">
                        Femme
                      </mat-option>
                    </mat-select>
                    <mat-error *ngIf="patientForm.get('gender')?.hasError('required')">
                      Sexe est requis
                    </mat-error>
                  </mat-form-field>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-3">
                  <mat-form-field class="example-full-width mb-3" appearance="outline">
                    <mat-label>Mobile</mat-label>
                    <input matInput formControlName="mobile" type="number">
                  </mat-form-field>
                </div>
              </div>
              <div class="row">
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-3">
                  <mat-form-field class="example-full-width mb-3" appearance="outline">
                    <mat-label>Date de Naissance</mat-label>
                    <input matInput [matDatepicker]="picker" formControlName="dob" required>
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                    <mat-error *ngIf="patientForm.get('dob')?.hasError('required')">
                      Veuillez sélectionner une date
                    </mat-error>
                  </mat-form-field>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-3">
                  <mat-form-field class="example-full-width mb-3" appearance="outline">
                    <mat-label>Âge</mat-label>
                    <input matInput formControlName="age" type="number">
                  </mat-form-field>
                </div>
              </div>
              <div class="row">
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-3">
                  <mat-form-field class="example-full-width mb-3" appearance="outline">
                    <mat-label>Email</mat-label>
                    <input matInput formControlName="email" type="email" required>
                    <mat-error *ngIf="patientForm.get('email')?.hasError('email') && patientForm.get('email')?.touched">
                      Veuillez entrer une adresse email valide
                    </mat-error>
                  </mat-form-field>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-3">
                  <mat-form-field class="example-full-width mb-3" appearance="outline">
                    <mat-label>Statut Matrimonial</mat-label>
                    <mat-select formControlName="maritalStatus" required>
                      <mat-option [value]="'1'">
                        Célibataire
                      </mat-option>
                      <mat-option [value]="'2'">
                        Marié(e)
                      </mat-option>
                    </mat-select>
                    <mat-error *ngIf="patientForm.get('maritalStatus')?.hasError('required')">
                      Sélectionnez une option
                    </mat-error>
                  </mat-form-field>
                </div>
              </div>
              <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-3">
                  <mat-form-field class="example-full-width mb-3" appearance="outline">
                    <mat-label>Adresse</mat-label>
                    <textarea matInput formControlName="address"></textarea>
                  </mat-form-field>
                </div>
              </div>
              <div class="row">
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-3">
                  <mat-form-field class="example-full-width mb-3" appearance="outline">
                    <mat-label>Groupe Sanguin</mat-label>
                    <input matInput formControlName="bGroup">
                  </mat-form-field>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-3">
                  <mat-form-field class="example-full-width mb-3" appearance="outline">
                    <mat-label>Pression Artérielle</mat-label>
                    <input matInput formControlName="bPresure">
                  </mat-form-field>
                </div>
              </div>
              <div class="row">
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-3">
                  <mat-form-field class="example-full-width mb-3" appearance="outline">
                    <mat-label>Sucre</mat-label>
                    <input matInput formControlName="sugger">
                  </mat-form-field>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-3">
                  <mat-form-field class="example-full-width mb-3" appearance="outline">
                    <mat-label>Blessure/Condition</mat-label>
                    <input matInput formControlName="injury">
                  </mat-form-field>
                </div>
              </div>
              <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-5">
                  <label>Télécharger</label>
                  <app-file-upload formControlName="uploadFile"></app-file-upload>
                </div>
              </div>
              <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-3">
                  <button class="btn-space" [disabled]="!patientForm.valid " mat-raised-button
                    color="primary">Soumettre</button>
                  <button type="button" mat-raised-button color="warn">Annuler</button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
