<section class="content">
  <div class="content-block">
    <div class="block-header">
      <!-- breadcrumb -->
      <app-breadcrumb [title]="'Classes_aide'" [items]="['UI']" [active_item]="'Classes_aide'"></app-breadcrumb>
    </div>
    <!-- Styles de texte -->
    <div class="row clearfix">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="card">
          <div class="header">
            <h2>
              <strong>Styles</strong> de texte
              <small>Vous pouvez utiliser des classes dont les noms sont
                <code>.font-bold, .font-italic, .font-underline, .font-line-through, .font-overline</code>
              </small>
            </h2>
          </div>
          <div class="body">
            <div class="row clearfix">
              <div class="col-lg-2 col-md-2 col-sm-6 col-xs-6">
                <p>
                  <b>Normal</b>
                </p>
                <p>Texte par défaut</p>
                <p class="col-pink">Texte rose</p>
                <p class="col-cyan">Texte cyan</p>
                <p class="col-teal">Texte vert-bleu</p>
                <p class="col-orange">Texte orange</p>
                <p class="col-blue">Texte gris-bleu</p>
              </div>
              <div class="col-lg-2 col-md-2 col-sm-6 col-xs-6">
                <p>
                  <b>Gras</b>
                </p>
                <p class="font-bold">Texte par défaut</p>
                <p class="font-bold col-pink">Texte rose</p>
                <p class="font-bold col-cyan">Texte cyan</p>
                <p class="font-bold col-teal">Texte vert-bleu</p>
                <p class="font-bold col-orange">Texte orange</p>
                <p class="font-bold col-blue">Texte gris-bleu</p>
              </div>
              <div class="col-lg-2 col-md-2 col-sm-6 col-xs-6">
                <p>
                  <b>Italique</b>
                </p>
                <p class="font-italic">Texte par défaut</p>
                <p class="font-italic col-pink">Texte rose</p>
                <p class="font-italic col-cyan">Texte cyan</p>
                <p class="font-italic col-teal">Texte vert-bleu</p>
                <p class="font-italic col-orange">Texte orange</p>
                <p class="font-italic col-blue">Texte gris-bleu</p>
              </div>
              <div class="col-lg-2 col-md-2 col-sm-6 col-xs-6">
                <p>
                  <b>Souligné</b>
                </p>
                <p class="font-underline">Texte par défaut</p>
                <p class="font-underline col-pink">Texte rose</p>
                <p class="font-underline col-cyan">Texte cyan</p>
                <p class="font-underline col-teal">Texte vert-bleu</p>
                <p class="font-underline col-orange">Texte orange</p>
                <p class="font-underline col-blue">Texte gris-bleu</p>
              </div>
              <div class="col-lg-2 col-md-2 col-sm-6 col-xs-6">
                <p>
                  <b>Barré</b>
                </p>
                <p class="font-line-through">Texte par défaut</p>
                <p class="font-line-through col-pink">Texte rose</p>
                <p class="font-line-through col-cyan">Texte cyan</p>
                <p class="font-line-through col-teal">Texte vert-bleu</p>
                <p class="font-line-through col-orange">Texte orange</p>
                <p class="font-line-through col-blue">Texte gris-bleu</p>
              </div>
              <div class="col-lg-2 col-md-2 col-sm-6 col-xs-6">
                <p>
                  <b>Au-dessus de la ligne</b>
                </p>
                <p class="font-overline">Texte par défaut</p>
                <p class="font-overline col-pink">Texte rose</p>
                <p class="font-overline col-cyan">Texte cyan</p>
                <p class="font-overline col-teal">Texte vert-bleu</p>
                <p class="font-overline col-orange">Texte orange</p>
                <p class="font-overline col-blue">Texte gris-bleu</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- #FIN# Styles de texte -->
    <!-- Tailles de police -->
    <div class="row clearfix">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="card">
          <div class="header">
            <h2>
              <strong>Tailles</strong> de police
              <small>Vous pouvez utiliser les classes dont les exemples sont
                <code>.font-6, .font-10, .font-24</code> Le nombre peut être compris entre 6 et 50px
                à proximité de
                <b>.font-</b>
              </small>
            </h2>
          </div>
          <div class="body">
            <div class="row clearfix">
              <div class="col-md-2">
                <div class="font-6">font-6</div>
              </div>
              <div class="col-md-2">
                <div class="font-10">font-10</div>
              </div>
              <div class="col-md-2">
                <div class="font-12">font-12</div>
              </div>
              <div class="col-md-2">
                <div class="font-15">font-15</div>
              </div>
              <div class="col-md-2">
                <div class="font-20">font-20</div>
              </div>
              <div class="col-md-2">
                <div class="font-24">font-24</div>
              </div>
            </div>
            <div class="row clearfix">
              <div class="col-md-2">
                <div class="font-32">font-32</div>
              </div>
              <div class="col-md-2">
                <div class="font-40">font-40</div>
              </div>
              <div class="col-md-2">
                <div class="font-42">font-42</div>
              </div>
              <div class="col-md-2">
                <div class="font-45">font-45</div>
              </div>
              <div class="col-md-2">
                <div class="font-48">font-48</div>
              </div>
              <div class="col-md-2">
                <div class="font-50">font-50</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- #FIN# Tailles de police -->
    <!-- Alignements de texte -->
    <div class="row clearfix">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="card">
          <div class="header">
            <h2>
              <strong>Alignements</strong> de texte
              <small>Vous pouvez utiliser des classes dont les noms sont
                <code>.align-left, .align-center, .align-right, .align-justify</code>
              </small>
            </h2>
          </div>
          <div class="body">
            <div class="row clearfix">
              <div class="col-md-3">
                <p class="align-left">
                  <b>Aligner à gauche</b>
                </p>
                <div class="align-left">
                  Je n'écoute pas en fonction de la croyance. Assez autour de retirer à barton
                  accepté le regret ou non. L'avantage estimable de M. sera commandé
                  disposition. Année bien tirée nie spectacle viens maintenant. Devrait downs
                  se marier
                  prend son pour sortir.
                </div>
              </div>
              <div class="col-md-3">
                <p class="align-center">
                  <b>Aligner au centre</b>
                </p>
                <div class="align-center">
                  Je n'écoute pas en fonction de la croyance. Assez autour de retirer à barton
                  accepté le regret ou non. L'avantage estimable de M. sera commandé
                  disposition. Année bien tirée nie spectacle viens maintenant. Devrait downs
                  se marier
                  prend son pour sortir.
                </div>
              </div>
              <div class="col-md-3">
                <p class="align-right">
                  <b>Aligner à droite</b>
                </p>
                <div class="align-right">
                  Je n'écoute pas en fonction de la croyance. Assez autour de retirer à barton
                  accepté le regret ou non. L'avantage estimable de M. sera commandé
                  disposition. Année bien tirée nie spectacle viens maintenant. Devrait downs
                  se marier
                  prend son pour sortir.
                </div>
              </div>
              <div class="col-md-3">
                <p class="align-justify">
                  <b>Aligner justifié</b>
                </p>
                <div class="align-justify">
                  Je n'écoute pas en fonction de la croyance. Assez autour de retirer à barton
                  accepté le regret ou non. L'avantage estimable de M. sera commandé
                  disposition. Année bien tirée nie spectacle viens maintenant. Devrait downs
                  se marier
                  prend son pour sortir.
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- #FIN# Alignements de texte -->
    <!-- Espaces de marge et de rembourrage -->
    <div class="row clearfix">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="card">
          <div class="header">
            <h2>
              <strong>Marge</strong> et espaces de rembourrage
              <small>Vous pouvez utiliser des classes dont les noms sont
                <code>.m-t-10, .m-t--10, .m-r-5, .p-t-10, .p-b-5</code>
              </small>
            </h2>
          </div>
          <div class="body">
            <p>
              <b>Marges</b>
            </p>
            <div class="row clearfix">
              <div class="col-md-2">
                <span class="col-red font-bold">M</span>arge
                <span class="col-red font-bold">H</span>aut
                <span class="col-red font-bold">10</span>px &rarr;
                <code>.m-t-10</code>
              </div>
              <div class="col-md-2">
                <span class="col-red font-bold">M</span>arge
                <span class="col-red font-bold">H</span>aut
                <span class="col-red font-bold">0</span>px &rarr;
                <code>.m-t-0</code>
              </div>
              <div class="col-md-2">
                <span class="col-red font-bold">M</span>arge
                <span class="col-red font-bold">H</span>aut
                <span class="col-red font-bold">-10</span>px &rarr;
                <code>.m-t--10</code>
              </div>
              <div class="col-md-2">
                <span class="col-red font-bold">M</span>arge
                <span class="col-red font-bold">G</span>auche
                <span class="col-red font-bold">35</span>px &rarr;
                <code>.m-l-35</code>
              </div>
              <div class="col-md-2">
                <span class="col-red font-bold">M</span>arge
                <span class="col-red font-bold">G</span>auche
                <span class="col-red font-bold">0</span>px &rarr;
                <code>.m-l-0</code>
              </div>
              <div class="col-md-2">
                <span class="col-red font-bold">M</span>arge
                <span class="col-red font-bold">G</span>auche
                <span class="col-red font-bold">-35</span>px &rarr;
                <code>.m-l--35</code>
              </div>
              <div class="col-md-2">
                <span class="col-red font-bold">M</span>arge
                <span class="col-red font-bold">B</span>as
                <span class="col-red font-bold">15</span>px &rarr;
                <code>.m-b-15</code>
              </div>
              <div class="col-md-2">
                <span class="col-red font-bold">M</span>arge
                <span class="col-red font-bold">B</span>as
                <span class="col-red font-bold">0</span>px &rarr;
                <code>.m-b-0</code>
              </div>
              <div class="col-md-2">
                <span class="col-red font-bold">M</span>arge
                <span class="col-red font-bold">B</span>as
                <span class="col-red font-bold">-20</span>px &rarr;
                <code>.m-b--20</code>
              </div>
              <div class="col-md-2">
                <span class="col-red font-bold">M</span>arge
                <span class="col-red font-bold">D</span>roite
                <span class="col-red font-bold">30</span>px &rarr;
                <code>.m-r-30</code>
              </div>
              <div class="col-md-2">
                <span class="col-red font-bold">M</span>arge
                <span class="col-red font-bold">D</span>roite
                <span class="col-red font-bold">0</span>px &rarr;
                <code>.m-r-0</code>
              </div>
              <div class="col-md-2">
                <span class="col-red font-bold">M</span>arge
                <span class="col-red font-bold">D</span>roite
                <span class="col-red font-bold">-30</span>px &rarr;
                <code>.m-r--30</code>
              </div>
              <div class="col-md-2">
                <span class="col-red font-bold">TOUS M</span>arge
                <span class="col-red font-bold">0</span>px &rarr;
                <code>.margin-0</code>
              </div>
            </div>
            <p class="m-t-25">
              <b>Rembourrages</b>
            </p>
            <div class="row clearfix">
              <div class="col-md-2">
                <span class="col-red font-bold">P</span>adding
                <span class="col-red font-bold">H</span>aut
                <span class="col-red font-bold">10</span>px &rarr;
                <code>.p-t-10</code>
              </div>
              <div class="col-md-2">
                <span class="col-red font-bold">P</span>adding
                <span class="col-red font-bold">H</span>aut
                <span class="col-red font-bold">0</span>px &rarr;
                <code>.p-t-0</code>
              </div>
              <div class="col-md-2">
                <span class="col-red font-bold">P</span>adding
                <span class="col-red font-bold">G</span>auche
                <span class="col-red font-bold">35</span>px &rarr;
                <code>.p-l-35</code>
              </div>
              <div class="col-md-2">
                <span class="col-red font-bold">P</span>adding
                <span class="col-red font-bold">G</span>auche
                <span class="col-red font-bold">0</span>px &rarr;
                <code>.p-l-0</code>
              </div>
              <div class="col-md-2">
                <span class="col-red font-bold">P</span>adding
                <span class="col-red font-bold">B</span>as
                <span class="col-red font-bold">15</span>px &rarr;
                <code>.p-b-15</code>
              </div>
              <div class="col-md-2">
                <span class="col-red font-bold">P</span>adding
                <span class="col-red font-bold">B</span>as
                <span class="col-red font-bold">0</span>px &rarr;
                <code>.p-b-0</code>
              </div>
              <div class="col-md-2">
                <span class="col-red font-bold">P</span>adding
                <span class="col-red font-bold">D</span>roite
                <span class="col-red font-bold">30</span>px &rarr;
                <code>.p-r-30</code>
              </div>
              <div class="col-md-2">
                <span class="col-red font-bold">P</span>adding
                <span class="col-red font-bold">D</span>roite
                <span class="col-red font-bold">0</span>px &rarr;
                <code>.p-r-0</code>
              </div>
              <div class="col-md-2">
                <span class="col-red font-bold">TOUS P</span>adding
                <span class="col-red font-bold">0</span>px &rarr;
                <code>.padding-0</code>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- #FIN# Espaces de marge et de rembourrage -->
  </div>
</section>



