<section class="content">
  <div class="content-block">
    <div class="block-header">
      <!-- breadcrumb -->
      <app-breadcrumb [title]="'Étiquettes'" [items]="['UI']" [active_item]="'Étiquettes'"></app-breadcrumb>
    </div>
    <!-- Étiquettes -->
    <div class="row clearfix">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="card">
          <div class="header">
            <h2>
              <strong>Étiquettes</strong>
            </h2>

          </div>
          <div class="body">
            <span class="label label-default">Par défaut</span>
            <span class="label label-primary">Principal</span>
            <span class="label label-success">Succès</span>
            <span class="label label-info">Info</span>
            <span class="label label-warning">Attention</span>
            <span class="label label-danger">Danger</span>
            <hr>
            <h1 class="m-b-20">Exemple de titre
              <span class="label label-danger">Nouveau</span>
            </h1>
            <h2 class="m-b-20">Exemple de titre
              <span class="label label-warning">Nouveau</span>
            </h2>
            <h3 class="m-b-20">Exemple de titre
              <span class="label label-info">Nouveau</span>
            </h3>
            <h4 class="m-b-20">Exemple de titre
              <span class="label label-success">Nouveau</span>
            </h4>
            <h5 class="m-b-20">Exemple de titre
              <span class="label label-primary">Nouveau</span>
            </h5>
            <h6 class="m-b-20">Exemple de titre
              <span class="label label-default">Nouveau</span>
            </h6>
          </div>
        </div>
      </div>
    </div>
    <!-- #FIN# Étiquettes -->
    <!-- Étiquettes avec les couleurs du design matériel -->
    <div class="row clearfix">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="card">
          <div class="header">
            <h2>
              <strong>Étiquettes</strong> Avec les couleurs du design matériel</h2>

          </div>
          <div class="body">
            <span class="label bg-red m-b-10">Rouge</span>
            <span class="label bg-pink m-b-10">Rose</span>
            <span class="label bg-purple m-b-10">Violet</span>
            <span class="label bg-indigo m-b-10">Indigo</span>
            <span class="label bg-blue m-b-10">Bleu</span>
            <span class="label bg-cyan m-b-10">Cyan</span>
            <span class="label bg-teal m-b-10">Turquoise</span>
            <span class="label bg-green m-b-10">Vert</span>
            <span class="label bg-yellow m-b-10">Jaune</span>
            <span class="label bg-orange m-b-10">Orange</span>
            <span class="label bg-deep-orange m-b-10">Orange foncé</span>
            <span class="label bg-brown m-b-10">Marron</span>
            <span class="label bg-grey m-b-10">Gris</span>
            <span class="label bg-black m-b-10">Noir</span>
          </div>
        </div>
      </div>
    </div>
    <!-- #FIN# Étiquettes avec les couleurs du design matériel -->
  </div>
</section>
