<div class="addContainer">
  <div class="modalHeader">
    <div class="editRowModal">
      <div class="modalHeader clearfix">
        <div class="modal-about">
          {{dialogTitle}}
        </div>
      </div>
    </div>
    <button mat-icon-button (click)="dialogRef.close()" class="modal-close-button" aria-label="Fermer la boîte de dialogue">
      <mat-icon>close</mat-icon>
    </button>
  </div>
  <div mat-dialog-content>
    <form class="register-form m-4" [formGroup]="ambulanceListForm" (ngSubmit)="submit">
      <div class="row">
        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
          <mat-form-field class="example-full-width" appearance="outline">
            <mat-label>Numéro de véhicule</mat-label>
            <input matInput formControlName="vehicle_no" required>
            <mat-icon class="material-icons-two-tone color-icon p-3" matSuffix>pin</mat-icon>
            <mat-error *ngIf="ambulanceListForm.get('vehicle_no')?.hasError('required')">
              Numéro de véhicule requis
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
          <mat-form-field class="example-full-width" appearance="outline">
            <mat-label>Nom du véhicule</mat-label>
            <input matInput formControlName="vehicle_name" required>
            <mat-icon class="material-icons-two-tone color-icon p-3" matSuffix>airport_shuttle</mat-icon>
            <mat-error *ngIf="ambulanceListForm.get('vehicle_name')?.hasError('required')">
              Nom du véhicule requis
            </mat-error>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
          <mat-form-field class="example-full-width" appearance="outline">
            <mat-label>Année de fabrication</mat-label>
            <input matInput formControlName="year_made" type="number" required>
            <mat-icon class="material-icons-two-tone color-icon p-3" matSuffix>event_note</mat-icon>
            <mat-error *ngIf="ambulanceListForm.get('year_made')?.hasError('required')">
              Année de fabrication requise
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
          <mat-form-field class="example-full-width" appearance="outline">
            <mat-label>Nom du conducteur</mat-label>
            <input matInput formControlName="driver_name" required>
            <mat-icon class="material-icons-two-tone color-icon p-3" matSuffix>account_circle</mat-icon>
            <mat-error *ngIf="ambulanceListForm.get('driver_name')?.hasError('required')">
              Nom du conducteur requis
            </mat-error>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
          <mat-form-field class="example-full-width" appearance="outline">
            <mat-label>Numéro de permis de conduire</mat-label>
            <input matInput formControlName="driver_license_no">
            <mat-icon class="material-icons-two-tone color-icon p-3" matSuffix>credit_card</mat-icon>
            <mat-error *ngIf="ambulanceListForm.get('driver_license_no')?.hasError('required')">
              Numéro de permis de conduire requis
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
          <mat-form-field class="example-full-width" appearance="outline">
            <mat-label>Numéro de contact du conducteur</mat-label>
            <input matInput formControlName="driver_no" type="number">
            <mat-icon class="material-icons-two-tone color-icon p-3" matSuffix>phone</mat-icon>
            <mat-error *ngIf="ambulanceListForm.get('driver_no')?.hasError('required')">
              Numéro de contact du conducteur requis
            </mat-error>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
          <mat-form-field class="example-full-width " appearance="outline">
            <mat-label>Type de véhicule</mat-label>
            <mat-select formControlName="vehicle_type" required>
              <mat-option [value]="'Owned'">
                Possédé
              </mat-option>
              <mat-option [value]="'Contractual'">
                Contractuel
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
          <div class="example-button-row">
            <button mat-raised-button color="primary" [disabled]="!ambulanceListForm.valid" [mat-dialog-close]="1"
              (click)="confirmAdd()">Enregistrer</button>
            <button mat-raised-button color="warn" (click)="onNoClick()" tabindex="-1">Annuler</button>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
