<section class="content">
  <div class="content-block">
    <div class="block-header">
      <!-- breadcrumb -->
      <app-breadcrumb [title]="'Form Example'" [items]="['Form']" [active_item]="'Form Example'"></app-breadcrumb>
    </div>
    <div class="row clearfix">
      <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12">
        <div class="card">
          <div class="header">
            <h2>Formulaires réactifs (Outlines)</h2>

          </div>
          <div class="body">
            <form class="register-form m-4" [formGroup]="register!" (ngSubmit)="onRegister()">
              <div class="row">
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                  <mat-form-field class="example-full-width" appearance="outline">
                    <mat-label>Prénom</mat-label>
                    <input matInput formControlName="first" required>
                    <mat-icon class="material-icons-two-tone color-icon p-3" matSuffix>face</mat-icon>
                    <mat-error *ngIf="register?.get('first')?.hasError('required')">
                      Le prénom est requis
                    </mat-error>
                  </mat-form-field>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                  <mat-form-field class="example-full-width" appearance="outline">
                    <mat-label>Nom</mat-label>
                    <input matInput formControlName="last">
                    <mat-icon class="material-icons-two-tone color-icon p-3" matSuffix>face</mat-icon>
                  </mat-form-field>
                </div>
              </div>
              <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
                  <mat-form-field class="example-full-width" appearance="outline">
                    <mat-label>Mot de Passe</mat-label>
                    <input matInput formControlName="password" [type]="hide ? 'password' : 'text'" required>
                    <mat-icon matSuffix (click)="hide = !hide">
                      {{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                    <mat-error *ngIf="register?.get('password')?.hasError('required')">
                      Le mot de passe est requis
                    </mat-error>
                  </mat-form-field>
                </div>
              </div>
              <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
                  <mat-form-field class="example-full-width" appearance="outline">
                    <mat-label>Email</mat-label>
                    <input matInput formControlName="email" required>
                    <mat-icon class="material-icons-two-tone color-icon p-3" matSuffix>email</mat-icon>
                    <mat-error *ngIf="register?.get('email')?.hasError('required') || register?.get('email')?.touched">
                      Veuillez entrer une adresse email valide
                    </mat-error>
                  </mat-form-field>
                </div>
              </div>
              <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
                  <mat-form-field class="example-full-width" appearance="outline">
                    <mat-label>Adresse</mat-label>
                    <textarea matInput formControlName="address"></textarea>
                  </mat-form-field>
                </div>
              </div>
              <div class="row">
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                  <mat-form-field class="example-full-width" appearance="outline">
                    <mat-label>Ville</mat-label>
                    <input matInput formControlName="city" required>
                    <mat-icon class="material-icons-two-tone color-icon p-3" matSuffix>location_city</mat-icon>
                    <mat-error *ngIf="register?.get('city')?.hasError('required')">
                      Le nom de la ville est requis
                    </mat-error>
                  </mat-form-field>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                  <mat-form-field class="example-full-width" appearance="outline">
                    <mat-label>L'état</mat-label>
                    <input matInput formControlName="state" required>
                    <mat-icon class="material-icons-two-tone color-icon p-3" matSuffix>business</mat-icon>
                    <mat-error *ngIf="register?.get('state')?.hasError('required')">
                      Le nom de l'état est requis
                    </mat-error>
                  </mat-form-field>
                </div>
              </div>
              <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
                  <mat-form-field class="example-full-width" appearance="outline">
                    <mat-label>Pays</mat-label>
                    <mat-select formControlName="country" required>
                      <mat-option [value]="'Tunisie'">
                        Tunisie
                      </mat-option>
                      <mat-option [value]="'Algeria'">
                        Algeria
                      </mat-option>
                      <mat-option [value]="'Brazil'">
                        Brazil
                      </mat-option>
                      <mat-option [value]="'Poland'">
                        Poland
                      </mat-option>
                      <mat-option [value]="'Sri Lanka'">
                        Sri Lanka
                      </mat-option>
                      <mat-option [value]="'Thailand'">
                        Thailand
                      </mat-option>
                      <mat-option [value]="'Japan'">
                        Japan
                      </mat-option>
                    </mat-select>
                    <mat-icon class="material-icons-two-tone color-icon p-3" matSuffix>flag</mat-icon>
                    <mat-error *ngIf="register?.get('country')?.hasError('required')">
                      Le pays est requis
                    </mat-error>
                  </mat-form-field>
                </div>
              </div>
              <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
                  <mat-checkbox class="example-margin" formControlName="termcondition">J'accepte les termes et conditions
                  </mat-checkbox>
                </div>
              </div>
              <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
                  <button class="btn-space" [disabled]="!register?.valid" mat-raised-button
                    color="primary">Soumettre</button>
                  <button type="button" mat-raised-button color="warn">Annuler</button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
      <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12">
        <div class="card">
          <div class="header">
            <h2>Formulaires réactifs (Fill)</h2>

          </div>
          <div class="body">
            <form class="m-4" [formGroup]="secondForm!" (ngSubmit)="onsecondFormSubmit()">
              <div class="row">
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                  <mat-form-field class="example-full-width" appearance="fill">
                    <mat-label>Prénom</mat-label>
                    <input matInput formControlName="first" required>
                    <mat-icon class="material-icons-two-tone color-icon p-3" matSuffix>face</mat-icon>
                    <mat-error *ngIf="secondForm?.get('first')?.hasError('required')">
                      Le prénom est requis
                    </mat-error>
                  </mat-form-field>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                  <mat-form-field class="example-full-width" appearance="fill">
                    <mat-label>Nom</mat-label>
                    <input matInput formControlName="last">
                    <mat-icon class="material-icons-two-tone color-icon p-3" matSuffix>face</mat-icon>
                  </mat-form-field>
                </div>
              </div>
              <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
                  <mat-form-field class="example-full-width" appearance="fill">
                    <mat-label>Mot de Passe</mat-label>
                    <input matInput formControlName="password" [type]="hide2 ? 'password' : 'text'" required>
                    <mat-icon matSuffix (click)="hide2 = !hide2">
                      {{hide2 ? 'visibility_off' : 'visibility'}}</mat-icon>
                    <mat-error *ngIf="secondForm?.get('password')?.hasError('required')">
                      Le mot de Passe est requis
                    </mat-error>
                  </mat-form-field>
                </div>
              </div>
              <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
                  <mat-form-field class="example-full-width" appearance="fill">
                    <mat-label>Email</mat-label>
                    <input matInput formControlName="email" required>
                    <mat-icon class="material-icons-two-tone color-icon p-3" matSuffix>email</mat-icon>
                    <mat-error *ngIf="secondForm?.get('email')?.hasError('email') && secondForm?.get('email')?.touched">
                      Veuillez entrer une adresse email valide
                    </mat-error>
                  </mat-form-field>
                </div>
              </div>
              <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
                  <mat-form-field class="example-full-width" appearance="fill">
                    <mat-label>Adresse</mat-label>
                    <textarea matInput formControlName="address"></textarea>
                  </mat-form-field>
                </div>
              </div>
              <div class="row">
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                  <mat-form-field class="example-full-width" appearance="fill">
                    <mat-label>Ville</mat-label>
                    <input matInput formControlName="city" required>
                    <mat-icon class="material-icons-two-tone color-icon p-3" matSuffix>location_city</mat-icon>
                    <mat-error *ngIf="secondForm?.get('city')?.hasError('required')">
                      Le nom de la ville est requis
                    </mat-error>
                  </mat-form-field>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                  <mat-form-field class="example-full-width" appearance="fill">
                    <mat-label>L'état</mat-label>
                    <input matInput formControlName="state" required>
                    <mat-icon class="material-icons-two-tone color-icon p-3" matSuffix>business</mat-icon>
                    <mat-error *ngIf="secondForm?.get('state')?.hasError('required')">
                      Le nom de l'état est requis
                    </mat-error>
                  </mat-form-field>
                </div>
              </div>
              <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
                  <mat-form-field class="example-full-width" appearance="fill">
                    <mat-label>Pays</mat-label>
                    <mat-select formControlName="country" required>
                      <mat-option [value]="'Tunisie'">
                        Tunisie
                      </mat-option>
                      <mat-option [value]="'Algeria'">
                        Algeria
                      </mat-option>
                      <mat-option [value]="'Brazil'">
                        Brazil
                      </mat-option>
                      <mat-option [value]="'Poland'">
                        Poland
                      </mat-option>
                      <mat-option [value]="'Sri Lanka'">
                        Sri Lanka
                      </mat-option>
                      <mat-option [value]="'Thailand'">
                        Thailand
                      </mat-option>
                      <mat-option [value]="'Japan'">
                        Japan
                      </mat-option>
                    </mat-select>
                    <mat-icon class="material-icons-two-tone color-icon p-3" matSuffix>flag</mat-icon>
                    <mat-error *ngIf="secondForm?.get('country')?.hasError('required')">
                      Le pays est requis
                    </mat-error>
                  </mat-form-field>
                </div>
              </div>
              <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
                  <mat-checkbox class="example-margin" formControlName="termcondition">J'accepte les termes et conditions
                  </mat-checkbox>
                </div>
              </div>
              <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
                  <button class="btn-space" [disabled]="!secondForm?.valid" mat-raised-button
                    color="primary">Soumettre</button>
                  <button type="button" mat-raised-button color="warn">Annuler</button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
    <div class="row clearfix">
      <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
        <div class="card">
          <div class="header">
            <h2>Formulaires réactifs (Standard)</h2>

          </div>
          <div class="body">
            <form class="m-4" [formGroup]="thirdForm!" (ngSubmit)="onThirdFormSubmit()">
              <div class="row">
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-3">
                  <mat-form-field class="example-full-width">
                    <mat-label>Prénom</mat-label>
                    <input matInput formControlName="first" required>
                    <mat-icon class="material-icons-two-tone color-icon p-3" matSuffix>face</mat-icon>
                    <mat-error *ngIf="thirdForm?.get('first')?.hasError('required')">
                      Le prénom est requis
                    </mat-error>
                  </mat-form-field>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-3">
                  <mat-form-field class="example-full-width">
                    <mat-label>Nom</mat-label>
                    <input matInput formControlName="last">
                    <mat-icon class="material-icons-two-tone color-icon p-3" matSuffix>face</mat-icon>
                  </mat-form-field>
                </div>
              </div>
              <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-3">
                  <mat-form-field class="example-full-width">
                    <mat-label>Mot de Passe</mat-label>
                    <input matInput formControlName="password" [type]="hide3 ? 'password' : 'text'" required>
                    <mat-icon matSuffix (click)="hide3 = !hide3">
                      {{hide3 ? 'visibility_off' : 'visibility'}}</mat-icon>
                    <mat-error *ngIf="thirdForm?.get('password')?.hasError('required')">
                      Le mot de Passe est requis
                    </mat-error>
                  </mat-form-field>
                </div>
              </div>
              <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-3">
                  <mat-form-field class="example-full-width">
                    <mat-label>Email</mat-label>
                    <input matInput formControlName="email" required>
                    <mat-icon class="material-icons-two-tone color-icon p-3" matSuffix>email</mat-icon>
                    <mat-error *ngIf="thirdForm?.get('email')?.hasError('email') && thirdForm?.get('email')?.touched">
                      Veuillez entrer une adresse email valide
                    </mat-error>
                  </mat-form-field>
                </div>
              </div>
              <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-3">
                  <mat-form-field class="example-full-width">
                    <mat-label>Adresse</mat-label>
                    <textarea matInput formControlName="address"></textarea>
                  </mat-form-field>
                </div>
              </div>
              <div class="row">
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-3">
                  <mat-form-field class="example-full-width">
                    <mat-label>Ville</mat-label>
                    <input matInput formControlName="city" required>
                    <mat-icon class="material-icons-two-tone color-icon p-3" matSuffix>location_city</mat-icon>
                    <mat-error *ngIf="thirdForm?.get('city')?.hasError('required')">
                      Le nom de la ville est requis
                    </mat-error>
                  </mat-form-field>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-3">
                  <mat-form-field class="example-full-width">
                    <mat-label>L'état</mat-label>
                    <input matInput formControlName="state" required>
                    <mat-icon class="material-icons-two-tone color-icon p-3" matSuffix>business</mat-icon>
                    <mat-error *ngIf="thirdForm?.get('state')?.hasError('required')">
                      Le nom de l'état est requis
                    </mat-error>
                  </mat-form-field>
                </div>
              </div>
              <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-3">
                  <mat-form-field class="example-full-width">
                    <mat-label>Pays</mat-label>
                    <mat-select formControlName="country" required>
                      <mat-option [value]="'Tunisie'">
                        Tunisie
                      </mat-option>
                      <mat-option [value]="'Algeria'">
                        Algeria
                      </mat-option>
                      <mat-option [value]="'Brazil'">
                        Brazil
                      </mat-option>
                      <mat-option [value]="'Poland'">
                        Poland
                      </mat-option>
                      <mat-option [value]="'Sri Lanka'">
                        Sri Lanka
                      </mat-option>
                      <mat-option [value]="'Thailand'">
                        Thailand
                      </mat-option>
                      <mat-option [value]="'Japan'">
                        Japan
                      </mat-option>
                    </mat-select>
                    <mat-icon class="material-icons-two-tone color-icon p-3" matSuffix>flag</mat-icon>
                    <mat-error *ngIf="thirdForm?.get('country')?.hasError('required')">
                      Le pays est requis
                    </mat-error>
                  </mat-form-field>
                </div>
              </div>
              <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-3">
                  <mat-checkbox class="example-margin" formControlName="termcondition">J'accepte les termes et conditions
                  </mat-checkbox>
                </div>
              </div>
              <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-3">
                  <button class="btn-space" [disabled]="!thirdForm?.valid" mat-raised-button
                    color="primary">Soumettre</button>
                  <button type="button" mat-raised-button color="warn">Annuler</button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
