<section class="content">
  <div class="content-block">
    <div class="block-header">
      <!-- breadcrumb -->
      <app-breadcrumb [title]="'Typographie'" [items]="['UI']" [active_item]="'Typographie'"></app-breadcrumb>
    </div>
    <!-- En-têtes -->
    <div class="row clearfix">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="card">
          <div class="header">
            <h2>
              <strong>En-tête</strong>
            </h2>

          </div>
          <div class="body">
            <h1>h1. En-tête MyAdmin</h1>
            <p class="m-b-30">In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam
              dictum felis eu pede mollis
              pretium. Integer tincidunt. Cras dapibus. Vivamus elementum semper nisi. Aenean
              vulputate
              eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim.</p>
            <h2>h2. En-tête MyAdmin</h2>
            <p class="m-t-10 m-b-30">In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo.
              Nullam dictum felis eu pede mollis
              pretium. Integer tincidunt. Cras dapibus. Vivamus elementum semper nisi. Aenean
              vulputate
              eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim.</p>
            <h3>h3. En-tête MyAdmin</h3>
            <p class="m-t-15 m-b-30">
              In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu
              pede mollis pretium. Integer tincidunt.
              Cras dapibus. Vivamus elementum semper nisi. Aenean vulputate eleifend tellus. Aenean
              leo
              ligula, porttitor eu, consequat vitae, eleifend ac, enim.
            </p>
            <h4>h4. En-tête MyAdmin</h4>
            <p class="m-t-15 m-b-30">
              In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu
              pede mollis pretium. Integer tincidunt.
              Cras dapibus. Vivamus elementum semper nisi. Aenean vulputate eleifend tellus. Aenean
              leo
              ligula, porttitor eu, consequat vitae, eleifend ac, enim.
            </p>
            <h5>h5. En-tête MyAdmin</h5>
            <p class="m-t-15 m-b-30">
              In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu
              pede mollis pretium. Integer tincidunt.
              Cras dapibus. Vivamus elementum semper nisi. Aenean vulputate eleifend tellus. Aenean
              leo
              ligula, porttitor eu, consequat vitae, eleifend ac, enim.
            </p>
            <h6>h6. En-tête MyAdmin</h6>
            <p class="m-t-15">
              In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu
              pede mollis pretium. Integer tincidunt.
              Cras dapibus. Vivamus elementum semper nisi. Aenean vulputate eleifend tellus. Aenean
              leo
              ligula, porttitor eu, consequat vitae, eleifend ac, enim.
            </p>
          </div>
        </div>
      </div>
    </div>
    <!-- #FIN# En-têtes -->
    <!-- Styles de texte -->
    <div class="row clearfix">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="card">
          <div class="header">
            <h2>
              <strong>Styles</strong> de Texte
              <small>Vous pouvez utiliser des classes dont les noms sont
                <code>.font-bold, .font-italic, .font-underline, .font-line-through, .font-overline</code>
              </small>
            </h2>

          </div>
          <div class="body">
            <div class="row clearfix">
              <div class="col-lg-2 col-md-2 col-sm-6 col-xs-6">
                <p>
                  <b>Normal</b>
                </p>
                <p>Texte par défaut</p>
                <p class="col-pink">Texte de couleur rose</p>
                <p class="col-cyan">Texte de couleur cyan</p>
                <p class="col-teal">Texte de couleur teal</p>
                <p class="col-orange">Texte de couleur orange</p>
                <p class="col-blue">Texte de couleur gris bleu</p>
              </div>
              <div class="col-lg-2 col-md-2 col-sm-6 col-xs-6">
                <p>
                  <b>Gras</b>
                </p>
                <p class="font-bold">Texte par défaut</p>
                <p class="font-bold col-pink">Texte de couleur rose</p>
                <p class="font-bold col-cyan">Texte de couleur cyan</p>
                <p class="font-bold col-teal">Texte de couleur teal</p>
                <p class="font-bold col-orange">Texte de couleur orange</p>
                <p class="font-bold col-blue">Texte de couleur gris bleu</p>
              </div>
              <div class="col-lg-2 col-md-2 col-sm-6 col-xs-6">
                <p>
                  <b>Italique</b>
                </p>
                <p class="font-italic">Texte par défaut</p>
                <p class="font-italic col-pink">Texte de couleur rose</p>
                <p class="font-italic col-cyan">Texte de couleur cyan</p>
                <p class="font-italic col-teal">Texte de couleur teal</p>
                <p class="font-italic col-orange">Texte de couleur orange</p>
                <p class="font-italic col-blue">Texte de couleur gris bleu</p>
              </div>
              <div class="col-lg-2 col-md-2 col-sm-6 col-xs-6">
                <p>
                  <b>Souligné</b>
                </p>
                <p class="font-underline">Texte par défaut</p>
                <p class="font-underline col-pink">Texte de couleur rose</p>
                <p class="font-underline col-cyan">Texte de couleur cyan</p>
                <p class="font-underline col-teal">Texte de couleur teal</p>
                <p class="font-underline col-orange">Texte de couleur orange</p>
                <p class="font-underline col-blue">Texte de couleur gris bleu</p>
              </div>
              <div class="col-lg-2 col-md-2 col-sm-6 col-xs-6">
                <p>
                  <b>Barré</b>
                </p>
                <p class="font-line-through">Texte par défaut</p>
                <p class="font-line-through col-pink">Texte de couleur rose</p>
                <p class="font-line-through col-cyan">Texte de couleur cyan</p>
                <p class="font-line-through col-teal">Texte de couleur teal</p>
                <p class="font-line-through col-orange">Texte de couleur orange</p>
                <p class="font-line-through col-blue">Texte de couleur gris bleu</p>
              </div>
              <div class="col-lg-2 col-md-2 col-sm-6 col-xs-6">
                <p>
                  <b>Ligne supérieure</b>
                </p>
                <p class="font-overline">Texte par défaut</p>
                <p class="font-overline col-pink">Texte de couleur rose</p>
                <p class="font-overline col-cyan">Texte de couleur cyan</p>
                <p class="font-overline col-teal">Texte de couleur teal</p>
                <p class="font-overline col-orange">Texte de couleur orange</p>
                <p class="font-overline col-blue">Texte de couleur gris bleu</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- #FIN# Styles de texte -->
    <!-- Blocs de citations -->
    <div class="row clearfix">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="card">
          <div class="header">
            <h2>
              <strong>Citations</strong>
            </h2>

          </div>
          <div class="body">
            <blockquote class="m-b-25">
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a
                ante.</p>
            </blockquote>
            <blockquote>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a
                ante.</p>
              <footer>Quelqu'un de célèbre dans
                <cite title="Titre de la source">Titre de la source</cite>
              </footer>
            </blockquote>
            <blockquote class="blockquote-reverse">
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a
                ante.</p>
              <footer>Quelqu'un de célèbre dans
                <cite title="Titre de la source">Titre de la source</cite>
              </footer>
            </blockquote>
          </div>
        </div>
      </div>
    </div>
    <!-- #FIN# Blocs de citations -->
    <!-- Listes non ordonnées -->
    <div class="row clearfix">
      <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
        <div class="card">
          <div class="header">
            <h2>
              <strong>Liste</strong> Non-ordonnée</h2>

          </div>
          <div class="body">
            <ul>
              <li>Lorem ipsum dolor sit amet</li>
              <li>Consectetur adipiscing elit</li>
              <li>Integer molestie lorem at massa</li>
              <li>Facilisis in pretium nisl aliquet</li>
              <li>
                Nulla volutpat aliquam velit
                <ul>
                  <li>Phasellus iaculis neque</li>
                  <li>Purus sodales ultricies</li>
                  <li>Vestibulum laoreet porttitor sem</li>
                  <li>Ac tristique libero volutpat at</li>
                </ul>
              </li>
              <li>Faucibus porta lacus fringilla vel</li>
              <li>Aenean sit amet erat nunc</li>
              <li>Eget porttitor lorem</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
        <div class="card">
          <div class="header">
            <h2>
              <strong>Liste</strong> Ordonnée</h2>

          </div>
          <div class="body">
            <ol>
              <li>Lorem ipsum dolor sit amet</li>
              <li>Consectetur adipiscing elit</li>
              <li>Integer molestie lorem at massa</li>
              <li>Facilisis in pretium nisl aliquet</li>
              <li>
                Nulla volutpat aliquam velit
                <ol>
                  <li>Phasellus iaculis neque</li>
                  <li>Purus sodales ultricies</li>
                  <li>Vestibulum laoreet porttitor sem</li>
                  <li>Ac tristique libero volutpat at</li>
                </ol>
              </li>
              <li>Faucibus porta lacus fringilla vel</li>
              <li>Aenean sit amet erat nunc</li>
              <li>Eget porttitor lorem</li>
            </ol>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
        <div class="card">
          <div class="header">
            <h2>
              <strong>Liste</strong> Non-stylisée</h2>

          </div>
          <div class="body">
            <ul class="list-unstyled">
              <li>Lorem ipsum dolor sit amet</li>
              <li>Consectetur adipiscing elit</li>
              <li>Integer molestie lorem at massa</li>
              <li>Facilisis in pretium nisl aliquet</li>
              <li>
                Nulla volutpat aliquam velit
                <ul>
                  <li>Phasell
                  </li>
                  <li>Purus sodales ultricies</li>
                  <li>Vestibulum laoreet porttitor sem</li>
                  <li>Ac tristique libero volutpat at</li>
                </ul>
              </li>
              <li>Faucibus porta lacus fringilla vel</li>
              <li>Aenean sit amet erat nunc</li>
              <li>Eget porttitor lorem</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <!-- #FIN# Listes non ordonnées -->
  </div>
</section>

